body {
    background : linear-gradient(45deg, #093f10, #16752b);
    margin     : 0;
    box-sizing : border-box;
    font-family: sans-serif;
}

app-root{
    height     : 100vh;
    display: block;
}